*{
   
    font-family:  arial, helvetica;
}

#navbar{

    padding-right: 20px;
    font-family:'Archivo',sans-serif ;
}
.navbar li a:active {
    background-color: blue;
} 

/* .container::before{
    background-image: url('bgp2.wep');
} */

.container{
    display: flex;
    border-radius: 10px;
    border: black solid 2px;
    width: 700px;
    height: 200px;
    justify-content: center;
    margin: 128px 87px;
}

.wrapper{
    height : 100px;
    display: grid;
    place-items:center;
}

.typing-demo{
    color: black;
    overflow: hidden;
    border-right:3px solid ;
    white-space: nowrap;
    margin :0 auto;
    letter-spacing: .15rem;
    animation: typing 3.5s steps(40,end) , blink .75s step-end infinite ;
    font-family: monospace;
    font-size: 2em;
}

@keyframes typing{
    from{
        width:0
    }
    to{
        width: 25%
    }
}

@keyframes blink{
    from,to{
        border-color: transparent;
    }
    50%{
        border-color:blue;
    }
}

#about{
    font-size:40px;
    font-weight:bolder;
    color:black;
    text-align:center;
    padding-bottom:0px;
    padding-top:48px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}
.container2{
    display: flex;
    margin-left: 160px;
    margin-right: 160px;
}
.row{
    display: flex;
    margin:22px;
    padding: 10px;
}

table, th, td {
    font-size: 15px;
    text-align: center;
    font-family: sans-serif;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
}

thead {
    background-color: black;
    color: white;
}

td:hover {
    background-color: #ddd;
}
